h3 {
    text-align: center;
    left: 50%;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
.container{
    background-image: url("../css/image\ \(14\).jpg");
    background-size: cover;
    background-position: center;
    
}
