{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class = "account"  method="POST" action="{{ url_for('account') }}" >
        <h3>Your Profile</h3>


    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Explore!</a>


    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="airbnb.com">Airbnb</a></li>
        <li><a href="vrbo.com">VRBO</a></li>>
        <li><a href="booking.com">Booking.com</a></li>
        <li><a href="homeaway.com">HomeAway</a></li>
    </ul>
    </div>
</body>

</html>


{% endblock %}