{% extends "base.html" %}
{% block content %}
<h3 text-align="center">Register</h3>
<div class="row">
    <form class="col s12 m8 offset-m2">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text"  name="first_name" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" name="last_name" class="validate">
          <label for="last_name">Last Name</label>
        </div>
         <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" name="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      </div>





{% endblock %}